# coding: utf-8
#from Base import Base
#from formalchemy import FieldSet
#extends Base

#def head

#end def

#def body
<h2>Editar Hotel</h2>
<form method="post" enctype="multipart/form-data">
$fs
<input type="submit" value="Salvar" />
</form>

#end def
