#from Base import Base
#from formalchemy import FieldSet
#extends Base

#def body
<h2>Editar Usuario</h2>
<form method="post" action="/users/edit">
$fs
<input type="submit" value="Salvar" />
</form>

#end def
