#encoding UTF-8
#from Base import Base
#extends Base

#def head
#end def

#def body
<div id="welcome" class="boxed2">
			<h1 class="title">Bem vindo Mendigo!</h1>
			<div class="content">
				<p><strong>Albergue Amigo</strong> é um sistema de busca de hoteis/albergues/caixa de fóosforo e afins. Neste site você vai encontrar o canto certo para cair bêbado! Além disso, para cada pocilga mostraremos sua localização em mapa e as pocilgas ao redor. <em><strong>Aproveite! :)</strong></em></p>
			</div>
		</div>
		<div id="sample1" class="boxed3">
			<h2 class="title">Pocilgas ZL</h2>
			<div class="content">
				<ol>
					#for $hotel in $zl
					<li><a href="/hotels/view/$hotel.id">$hotel.nome</a></li>
					#end for
				</ol>
			</div>
		</div>
		<div id="sample2" class="boxed3">
			<h2 class="title">Pocilgas ZN</h2>
			<div class="content">
				<ol>
					#for $hotel in $zn
					<li><a href="/hotels/view/$hotel.id">$hotel.nome</a></li>
					#end for
				</ol>
			</div>
		</div>
		<div id="sample1" class="boxed3">
			<h2 class="title">Pocilgas ZS</h2>
			<div class="content">
				<ol>
					#for $hotel in $zs
					<li><a href="/hotels/view/$hotel.id">$hotel.nome</a></li>
					#end for
				</ol>
			</div>
		</div>
		<div id="sample2" class="boxed3">
			<h2 class="title">Pocilgas ZO</h2>
			<div class="content">
				<ol>
					#for $hotel in $zo
					<li><a href="/hotels/view/$hotel.id">$hotel.nome</a></li>
					#end for
				</ol>
			</div>
		</div>
#end def
