#from Base import Base
#extends Base

#def head
#end def

#def body
<h2>Lista de Hoteis</h2>
<ul>
#for $hotel in $hotels
<li>
<p><a href="/hotels/view/$hotel.id">$hotel.nome</a>
#if $user is not None and $user.username == 'admin'
 - <a href="/hotels/edit/$hotel.id">Editar</a>
#end if
</p>
</li>
#end for
<ul>

#if $user is not None and $user.username == 'admin'
<p>Clique <a href="/hotels/edit/">aqui</a> para adicionar um hotel</p>
#end if
#end def
