#from Base import Base
#extends Base

#def body
<h2>Login</h2>
<form action="/users/login" method="post">
<label>username</label>
<input type="text" id="username" name="username" />

<label>Password</label>
<input type="password" id="password" name="password" />

<input type="submit" id="submit" value="login" />

</form>
#end def
