#encoding UTF-8
#from Base import Base
#extends Base

#def head
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=pt-br"></script>
<script type="text/javascript">
  function initialize() {
    var hotel = new google.maps.LatLng($hotel.latitude, $hotel.longitude);
    var myOptions = {
      zoom: 16,
      center: hotel,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var hotelMarker = new google.maps.Marker({
      position: hotel, 
      map: map, 
      title:"$hotel.nome"
	});
	
	#for $i in range(len($nearby_sites.keys()))
	#set $s = $nearby_sites.keys()[$i]
	var pos$i = new google.maps.LatLng($s.latitude, $s.longitude);
	var marker$i = new google.maps.Marker({
	  icon: "/images/beerMarker.png",
      position: pos$i, 
      map: map, 
      title:"$s.name"
	});
	
	var content$i = "Hotel: $s.name<br>";
	var infoWindow$i = new google.maps.InfoWindow({content: content$i});
	(infoWindow$i).setPosition(pos$i);
    (infoWindow$i).open(map);
	
	#end for
	
	var content = "Hotel: $hotel.nome<br> Classificaçao: $hotel.classificacao estrelas<br>"
	var infoWindow = new google.maps.InfoWindow({content: content});
	infoWindow.setPosition(hotel);
    infoWindow.open(map);
  }

</script>
#end def

#def body
<h2>$hotel.nome</h2>
<p>Endereco: $hotel.endereco</p>
<p>Classificação: $hotel.classificacao estrelas</p>
<p>Região: $hotel.regiao</p>
#if $hotel.imagem is not None
<p>Imagem do Hotel</p>
<img src="$hotel.imagem" />
#end if
<p>Localização no Mapa</p>
<div id="map_canvas" style="width: 500px; height: 480px;"></div>
<br/>
<h2>Sítios Turísticos Próximos</h2>
<ul>
#for $site,$dist in $nearby_sites.items()
<li><b>$site.name</b> - $dist m</li>
#end for
</ul>
#end def
