<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Albergue Amigo - $title</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main_header">
<div id="header">
  <ul>
    <li><a href="#" class="home" title="home">home</a></li>
    <li><a href="#" class="user" title="user">user</a></li>
    <li><a href="#" class="contact" title="contact">contact</a></li>
  </ul>
  <ul class="free">
    <li><a class="call">800-121-4545 759-121-5454</a></li>
  </ul>
  <img src="images/logo.gif" alt="appleweb" width="205" height="65" title="appleweb" />
  <ul class="navi">
    <li><a href="#">Network</a></li>
    <li><a href="#">Submission</a></li>
    <li><a href="#">Archives</a></li>
    <li><a href="#">Finance</a></li>
    <li class="li1"><a href="#">Testimonials</a></li>
  </ul>
</div>
</div>
<div id="main_body">
<div id="body">
  <h2>$title</h2>
  $body
</div>
</div>
<div id="main_footer">
<div id="footer"><!--footer navigation start -->
<ul>
<li><a href="#" class="mg">Network</a>|</li>
<li><a href="#">Submission</a>|</li>
<li><a href="#"> Archives</a>|</li>
<li><a href="#">Finance</a>|</li>
<li><a href="#">Testimonials</a></li>
</ul>
<ul class="ad">
<li><a>Can Can Road 0128 Thonhill Canada</a></li>
<li class="nobor1"><a><span>ph:</span>
800-121-4545 759-121-5454</a></li>
<li class="nobor"><a><span>fax:</span>
759-121-5454 800-121-4545</a></li>
</ul>
<p>&copy; appleweb. All rights reserved.</p>
<p class="de">Designed by: <a href="http://www.templateworld.com/">Template World</a></p>
</div><!--footer navigation end -->
</div>
</body>
</html>
