#from Base import Base
#from formalchemy import FieldSet
#extends Base
    
#def title
    Editar Hotel
#end def

#def body

<h2>Editar Hotel</h2>

#if $hotel is None
#set fs = FieldSet(Hotel)
$fs.render()
#end if
#end def
